${{options}}:'{{spritesheet.escaped_image}}';
{{#items}}
${{name}} : {{px.x}} {{px.y}} {{px.offset_x}} {{px.offset_y}} {{px.width}} {{px.height}} {{px.total_width}} {{px.total_height}} ${{../options}} ;
{{/items}}

@mixin sprite-width($sprite) {
width: nth($sprite, 5);
};

@mixin sprite-height($sprite) {
height: nth($sprite, 6);
};

@mixin sprite-image($sprite) {
$sprite-image: nth($sprite, 9);
background-image:url("#{$sprite-image}?rev=@@hash");
background-repeat: no-repeat;
};

@mixin sprite-position($sprite) {
$offsetX: nth($sprite, 3);
$offsetY: nth($sprite, 4);
background-position: $offsetX $offsetY;
};

@mixin sprite($sprite) {
@include sprite-image($sprite);
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
};

@mixin sprites($sprite) {
@include sprite($sprite);
};