<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <%- include include/link %>
</head>
<body>
    <%- include include/header %>

    <div class="box">
        <img src="../img/html.jpg?rev=@@hash" alt="图片名称" />
    </div>
    <input type="text" value="1234sd" />
    <div class="css3"></div>
    <div class="icon huanghun"></div>
    <div class="icon huoche"></div>
    <div class="icon xueshang"></div>
    <div class="icon yewan"></div>

    <%- include include/footer %>
    <script src="../js/bundle.js?rev=@@hash"></script>
</body>
</html>